#home {
  background-color: rgb(218, 217, 217);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

/* Banner */
.banner{
  display: flex;
  flex-flow: column;
  height: 100px;
  width: 200px;
  margin: auto;
  align-items: center;
}
.h1{
  margin-bottom: 1px;
}
.h4{
  margin-top: 1px;
}

/* PlayGround */
.player{
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  width: 600px;
  margin: auto;
  margin-bottom: 5px;
  align-content: center;
  
}
.playerOne, .playerTwo{
  display: flex;
  flex-flow: column;
  height: 50px;
  width: 300px;
  margin: auto;
  align-items: center;
}
.startButton{
  height: 50px;
  width: 405px;
  margin: auto;  
}
.courtContainer{
  display: flex;
  flex-flow: column;
  height: 405px;
  width: 405px;
  margin: auto;
  align-items: center;
  background-color: white;
}
.court{
  display: flex;
  flex-flow: row;
  height: 135px;
  width: 405px;
  
  align-items: center;
}
.squareContainer{
  display: flex;
  height: 135px;
  width: 135px;
  align-items: center;
}
.square{
  display: flex;
  height: 135px;
  width: 135px;
  padding: 0px;
  align-items: center;
  background-color: white; 
}
.squareText{
  display: flex;
  height: 135px;
  width: 135px;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 90px;
}
  