#home {
  background-color: rgb(218, 217, 217);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

/* Banner */
.banner{
  display: flex;
  flex-flow: column;
  height: 100px;
  width: 200px;
  margin: auto;
  align-items: center;
}
.h1{
  margin-bottom: 1px;
}
.h4{
  margin-top: 1px;
}

/* PlayGround */
.player{
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  width: 600px;
  margin: auto;
  align-content: center;
  
}
.playerOne, .playerTwo{
  display: flex;
  flex-flow: column;
  height: 50px;
  width: 300px;
  margin: auto;
  align-items: center;
}
.startButton{
  height: 50px;
  width: 400px;
  margin: auto;

  
}
